.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 1rem;
    column-gap: max(1rem, 3%);
}

.product {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 1rem;
}

.product .product__title {
    margin: 0;
    font: bold 1.4rem 'Times new Roman', serif;
    text-align: center;
}

.product .product__author {
    margin: 0;
    font: italic 1.2rem 'Times new Roman', serif;
    text-align: center;
}

.product .product__text {
    margin: 1rem 0 2rem;
    font-size: .9rem;
}

.product .button {
    border: none;
    margin-top: auto;
    background-color: #37adab;
    color: white;
    padding: 1rem;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
}